{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <title>Base Category for Items</title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <link href = "DealExpress/css/modified.css"rel="stylesheet">
  </head>
  <body>
    {% block content %}
    <!-- Navigation Bar Start-->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Deal Express</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <a class="nav-link" href="#">Categories <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <!-- Navigation Bar End-->
    <div class="card-deck" style="padding-top: 50px;">
      <div class="card">
        <div class="card-body" style="border-top-style: solid;border-right-width: 3px;border-right-style: solid;border-left-width: 3px;border-left-style: solid;border-bottom-width: 3px;border-bottom-style: solid;border-top-width: 3px; border-color:#343a40;">
          <img class="rounded-circle" src="https://images.unsplash.com/photo-1596462502278-27bfdc403348?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 10px;">
          <h4 class="card-header">Beauty</h4>
          <p>
          <a class="btn btn-secondary" href="#" role="button" style="margin-top: 10px;">View deals »</a>       
          </p>   
        </div>
      </div>
        <div class="card">
          <div class="card-body" style="border-top-style: solid;border-right-width: 3px;border-right-style: solid;border-left-width: 3px;border-left-style: solid;border-bottom-width: 3px;border-bottom-style: solid;border-top-width: 3px; border-color:#343a40;">
            <img class="rounded-circle" src="https://images.unsplash.com/photo-1602810319250-a663f0af2f75?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODB8fGNsb3RoaW5nJTIwc2hvcHBpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60" alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 10px;">
            <h4 class="card-header">Clothing</h4>
            <p>
            <a class="btn btn-secondary" href="#" role="button" style="margin-top: 10px;">View deals »</a>       
            </p>   
          </div>
        </div>
        <div class="card">
          <div class="card-body" style="border-top-style: solid;border-right-width: 3px;border-right-style: solid;border-left-width: 3px;border-left-style: solid;border-bottom-width: 3px;border-bottom-style: solid;border-top-width: 3px; border-color:#343a40;">
            <img class="rounded-circle" src="https://images.unsplash.com/photo-1567016432779-094069958ea5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZnVybml0dXJlfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 10px;">
            <h4 class="card-header">Furniture</h4>
            <p>
            <a class="btn btn-secondary" href="#" role="button" style="margin-top: 10px;">View deals »</a>       
            </p>   
          </div>
        </div>
    </div>
    <br> 
    <div class="card-deck">
      <div class="card">
        <div class="card-body" style="border-top-style: solid;border-right-width: 3px;border-right-style: solid;border-left-width: 3px;border-left-style: solid;border-bottom-width: 3px;border-bottom-style: solid;border-top-width: 3px; border-color:#343a40;">
          <img class="rounded-circle" src="https://images.unsplash.com/photo-1601524909162-ae8725290836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGVsZWN0cm9uaWNzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 10px;">
          <h4 class="card-header">Electronics</h4>
          <p>
          <a class="btn btn-secondary" href="#" role="button" style="margin-top: 10px;">View deals »</a>       
          </p>   
        </div>
      </div>

      <div class="card">
        <div class="card-body" style="border-top-style: solid;border-right-width: 3px;border-right-style: solid;border-left-width: 3px;border-left-style: solid;border-bottom-width: 3px;border-bottom-style: solid;border-top-width: 3px; border-color:#343a40;">
          <img class="rounded-circle" src="https://images.unsplash.com/photo-1506551109886-6101f48c1ab9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGRvZ3N8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60" alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 10px;">
          <h4 class="card-header">Pets</h4>
          <p>
          <a class="btn btn-secondary" href="#" role="button" style="margin-top: 10px;">View deals »</a>       
          </p>   
        </div>
      </div>

      <div class="card">
        <div class="card-body" style="border-top-style: solid;border-right-width: 3px;border-right-style: solid;border-left-width: 3px;border-left-style: solid;border-bottom-width: 3px;border-bottom-style: solid;border-top-width: 3px; border-color:#343a40;">
          <img class="rounded-circle" src="https://images.unsplash.com/photo-1621508638997-e30808c10653?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTk1fHxzdHVmZmVkJTIwdG95c3xlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60" alt="Generic placeholder image" width="140" height="140" style="margin-bottom: 10px;">
          <h4 class="card-header">Toys</h4>
          <p>
          <a class="btn btn-secondary" href="#" role="button" style="margin-top: 10px;">View deals »</a>       
          </p>   
        </div>
      </div>
    </div>  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    {% endblock%}
  </body>
</html>