{% extends "base.html" %}
<!doctype html>
<html lang="en">
  <body>
    {% block content %}
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Deal Express</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <a class="nav-link" href="#">Categories <span class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </header>
    <div class="container" style="margin-top: 20px;">

      <h3>Deal Express</h3>
      <h4>Search. Save. Pay.</h4>
      <div class="card deck" style="border-top-style: solid;border-right-width: 3px;border-right-style: solid;border-left-width: 3px;border-left-style: solid;border-bottom-width: 3px;border-bottom-style: solid;border-top-width: 3px; border-color:#343a40;">
        <div class="row">
          <div class="col-md-7" style="padding-right: 25px;">
            <div class="card-body">
              <h4 class="card-title" style="margin-bottom:15px;">Tired of Wasting Money?</h4>
              <h5><p class="card-text">Use Deal Express to find the best REAL time deals from popular sellers such as:</p></h5>
              <p style="margin-bottom:5px; margin-top:30px;"><h6>Target</h6></p>
              <p style="margin-bottom:5px;"><h6>Amazon</h6></p>
              <p style="margin-bottom:5px;"><h6>Ebay</h6></p>
              <p style="margin-bottom:5px;"><h6>And more!</h6></p>
            </div>
          </div>
          <div class="col-md-5">
            <img src="https://images.unsplash.com/photo-1633158829875-e5316a358c6f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8c2F2aW5nJTIwbW9uZXl8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" class="rounded float-right" alt="no image found" style= "max-width: auto" height="330">
          </div>
        </div>
      </div>
    </div>

    <div class="container"style="margin-top: 10px;">
      <h4 style="margin-top:15px;">Begin Your Search Today</h4>
      <h6 style="margin-top:5px;">Type the item you're looking to get a deal on, then hit the search button</h6>
      <div class="input-group" style="padding-right:500px;">
        <input type="search" class="form-control rounded" placeholder="Enter Your Item Here" aria-label="Search" aria-describedby="search-addon" style="margin-right:10px;" />
        <button type="button" class="btn btn-outline-success my-2 my-sm-0"style="background-color: #343a40;border-color:#28a745">Search </button>
      </div>
    </div>

    <div class="container" style="margin-top: 30px;">
      <div class="row" style="margin-left:1px;">
        <div class="col-m-7" style="padding-left:0px;">
          <h5>Don't know what to search? Check out our Categories Page!</h5>
        </div>
        <div class="col-m-5" style="margin-left:10px;">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button"style="background-color: #343a40;border-color:#28a745; top: -5px;" class="btn btn-outline-success my-2 my-sm-0">Take me to Categories</button>
          </div>
        </div>
      </div>
    </div>

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
    {% endblock%}
  </body>
</html>