{% extends "base.html" %} 
{% block content %}
<!doctype html>
<html lang="en">
      <body>
        <form action="" method="post" novalidate>
        {{form.hidden_tag()}}
        <div class="form-group">
            {{form.username.label}}
            {{form.username(class_="form-control", size=32)}}
        </div>
        <p>
            {{form.email.label()}}<br>
            {{form.email(size=32)}}
        </p>
        <p>
            {{form.password.label()}}<br>
            {{form.password(size=32)}}
        </p>
        <p>
            {{form.confirm_password.label()}}<br>
            {{form.confirm_password(size=32)}}
        </p>
        <p>
            {{form.submit}}
        </p>
        </form>
        {% endblock %}
      </body>
</html>
